:root {
  --board-border: 1px solid black;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header {
  text-align: center;
}

.game {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.player-name {
  text-align: center;
}

.gameboard {
  display: grid;
  grid-template-columns: repeat(11, 50px);
  align-content: center;
  justify-content: center;
}

.col {
  display: grid;
  grid-template-rows: repeat(11, 50px);
}

.row {
  border-top: var(--board-border);
  border-left: var(--board-border);
  display: flex;
  justify-content: center;
  align-items: center;
}

.col:last-child {
  border-right: var(--board-border);
}

.row:last-child{
  border-bottom: var(--board-border);
}

.col.header,
.row.header {
  font-weight: bold;
  background-color: #e9e9e9;
}

.ship {
  background-color: #323246;
  border: none;
}

.hit {
  background-color: #b63d3d;
}

.hit::after,
.miss::after {
  content: "X";
  font-size: 24px;
  font-weight: bold;
}

.gameboard.inactive > .col > .row:not(.hit, .miss, .header):hover {
  cursor: pointer;
  background-color: #a7a7a7;
}
